* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.left-side img {
    height: 50rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    min-height: 34rem;
}

.right-side-top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.right-side-top-content:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px;
    margin-top: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.right-side-middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.right-side-middle-content:nth-child(1) {
    min-height: 19rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.signin, .signup {
    color: #0095f6;
}

.right-side-bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* Responsividade */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
    }

    .right-side-top-content {
        border: 1px solid transparent;
    }

    .right-side-middle-content {
        border: 1px solid transparent;
    }
}